
.box-container{
    width: 100%;
    height: calc(100vh - 80px);
    border: 1px solid black;
}

/*nav*/

nav h3{
    color: white;
}

nav{
    min-width: 256px;
    width: 256px;
    background-color: black;
}

.nav-top{
    height: calc(100% - 80px);
    padding:10px;
}

.nav-bottom{
    height: 80px;
    padding-top: 20px;
}

.menu{
    height: 100px;
    margin-top: 15px;
}

.playlist{
    height: 250px;
    margin-top: 20px;
}

.lista{
    width: 100%;
    height: 180px;
    overflow: auto;
}

.menu ul{
    line-height: 25px;
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
    font-size: 18px;
}

.playlist i{
    font-size: 30px;
}

.playlist .btn{
    display: flex;
}

.playlist .btn h4{
    align-self: center;
    margin-left: 5px;
}

.lista ul{
    list-style: none;
}


/*fine nav*/

#main{
    width: 100%;
    height: calc(100vh - 80px);
    overflow: auto;
}

/*header fixed*/

#box-header{
    width: calc((100% / 12) * 10);
    height: 80px;
    line-height: 80px;
    background-color: black;
    position: fixed;
    left: 256px;
    top: 0;
    z-index: 2;
    text-align: right;
}

#box-header span a{
    color: white;
    text-decoration: none;
    border: 1px solid lightgray;
    border-radius: 20px;
}

/*fine header fixed*/

/*nav main*/

#nav-main{
    width: 100%;
    height: 50px;
    background-color: gray;
    border: 1px solid white;
    margin-top: 80px;
}

#nav-main ul{
    list-style: none;
    text-align: center;
}

#nav-main ul li{
    display: inline-block;
    margin: 10px 20px;
}

#nav-main ul li a{
    text-decoration: none;
    color: lightgray;
}

/*fine nav main*/

.box{
    height: 200px;
    background-color: yellow;
    border: 1px solid black;
}

.min-height{
    min-height: 480px;
}

footer{
    width: 100%;
    height: 80px;
    position: fixed;
    top: calc(100vh - 80px);
    right: 0;
    z-index: 1;
    background-color: black;
}

