.box-container{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: red;
    border: 1px solid black;
}

#main{
    width: 100%;
    height: calc(100vh - 80px);
    overflow: auto;
}

#box-header{
    width: 100%;
    height: 80px;
    background-color: black;
    border: 1px solid white;
    position: fixed;
    top: 0;
    left: 16,90%;
    z-index: 1;
}

#nav-main{
    width: 100%;
    height: 50px;
    background-color: gray;
    border: 1px solid white;
    margin-top: 80px;
}

.box{
    height: 200px;
    background-color: yellow;
    border: 1px solid black;
}

.nav-top{
    height: calc(100% - 100px);
    background-color: yellow;
    padding: 10px;
}

.nav-bottom{
    height: 100px;
    background-color: blue;
}

.menu{
    height: 100px;
    margin-top: 15px;
    background-color: red;
}

.playlist{
    height: 250px;
    margin-top: 20px;
    background-color: salmon;
}

.lista{
    width: 100%;
    height: 200px;
    background-color: skyblue;
    overflow: auto;
}

.min-height{
    min-height: 480px;
}

footer{
    height: 80px;
    background-color: black;
}

